.main-header {
    background-color: white;
    padding: 20px 40px;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
}

.list-header {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-header li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}